.container {
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto; 
}
.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  background: #F4E7E7; }
  .banner__img {
    max-width: 40%;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .banner__social-links {
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    text-align: center; }
    .banner__social-links__link {
      font-size: 1.25em;
      text-decoration: none;
      color: gray;
      margin: 10px; }

@media (min-width: 320px) and (max-width: 480px) {
  .banner__img {
    max-width: 90%; 
  }
}